html,
body {
  font-family: 'Share Tech Mono', monospace;
}
.dev-blue {
  background-color: #00f;
}
.dev-gray {
  background-color: #808080;
}
.dev-pink {
  background-color: #ffc0cb;
}
.dev-red {
  color: #f00;
}
.firstname {
  text-align: center;
  font-size: 150px;
}
.border {
  border: 10px solid #000;
}
.name {
  padding-top: 40vh;
  padding-left: 100px;
  padding-right: 100px;
}
.lastname {
  text-align: center;
  font-size: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.in-transit {
  text-align: center;
  font-size: 45px;
  padding-top: 30px;
}
.home-body {
  height: 100vh;
}
